/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');

.reviews {
	font-family: 'Baskervville';
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	scroll-padding-top: 2rem;
	scroll-behavior: smooth;
}

:root {

	--orange-color: #ff7e00;
	--navy-color: #990f02;
	--navy-color: #02055a;
	--blue-color: #02198b;

}

.reviews {
	margin-top: 1rem;
	margin-bottom: 1rem;
	max-width: 968px;
	margin-left: auto;
	margin-right: auto;
}

.reviews h2 {
	text-align: center;
	font-size: 1.6rem;
	font-weight: 600;
}

.reviews-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, auto));
	gap: 1.5rem;
	margin-top: 1rem;
}

.reviews-container .box {
	padding: 20px;
	box-shadow: 1px 2px 11px 4px rgb(14 55 54 / 15%);
	border-radius: 0.5rem;
	border-bottom: 7px solid var(--navy-color);
}

.reviews-container .box:hover {
	transform: translateY(10px);
	transition: 0.2s all linear;
}

.reviews-container .box .bx {
	font-size: 24px;
	color: var(--navy-color);
}

.reviews-container .box .stars .bx {
	font-size: 1rem;
	color: var(--orange-color);
}

.customer-container .box p {
	font-size: 0.938rem;
}

.customer-profile {
	display: flex;
	align-items: center;
	margin-top: 1rem;
	column-gap: 0.5rem;
}

.customer-profile img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
}

.customer-profile h3 {
	font-size: 1rem;
	font-weight: 600;
}